// set "icon" as default prefix
$prefix: icon !default;
$display_colored: true !default;

@mixin font_face {
  @font-face {
    font-family: 'OpenWeb Icons';
    src: url('../assets/openwebicons.eot');
    src: url('../assets/openwebicons.eot?#iefix') format('embedded-opentype'),
         url('../assets/openwebicons.woff') format('woff'),
         url('../assets/openwebicons.ttf') format('truetype'),
         url('../assets/openwebicons.svg#openweb_iconsregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin simple_mapper {
  [class^="#{$prefix}-"]:before, [class*=" #{$prefix}-"]:before {
    font-family: 'OpenWeb Icons';
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: center;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
  }
  a [class^="#{$prefix}-"], a [class*=" #{$prefix}-"] {
    display: inline-block;
    text-decoration: inherit;
  }
}

@mixin icon_list {
  // iterate icons
  @each $icon in $icons {
    // check if colored icons should be displayed or not
    @if $display_colored == true or (nth($icon, 3) == "monochrome" and $display_colored == false) {
      .#{$prefix}-#{nth($icon, 1)}:before {
        content: "#{nth($icon, 2)}";
        @if nth($icon, 3) != "monochrome" {
          color: #{nth($icon, 3)};
        }
      }
    }
  }
}