<ul class="audience-alt">
  <li>
    <div class="icon">
      <div class="big-label medium-blue text-inverse">
        <i class="icon-lightbulb"></i>
      </div>
    </div>

    <div class="value">504</div>
    <div class="stat-name">Visitors</div>

    <div class="percent">(+30%)</div>
    <div class="progress-bar audience-progress">
      <div class="progress progress-medium-blue">
        <div class="bar" style="width: 30%"></div>
      </div>
    </div>
  </li>

  <li>
    <div class="icon">
      <div class="big-label dark-blue text-inverse">
        <i class="icon-star"></i>
      </div>
    </div>
    <div class="value">439</div>
    <div class="stat-name">Visits</div>

    <div class="percent">(+61%)</div>
    <div class="progress-bar audience-progress">
      <div class="progress progress-dark-blue">
        <div class="bar" style="width: 61%"></div>
      </div>
    </div>
  </li>

  <li>
    <div class="icon">
      <div class="big-label light-blue">
        <i class="icon-eye-open"></i>
      </div>
    </div>
    <div class="value">988</div>
    <div class="stat-name">Page views</div>

    <div class="percent">(+44%)</div>
    <div class="progress-bar audience-progress">
      <div class="progress progress-light-blue">
        <div class="bar" style="width: 44%"></div>
      </div>
    </div>
  </li>

  <li>
    <div class="icon">
      <div class="big-label dark-plum text-inverse">
        <i class="icon-heart"></i>
      </div>
    </div>
    <div class="value">39</div>
    <div class="stat-name">Likes</div>

    <div class="percent">(+12%)</div>
    <div class="progress-bar audience-progress">
      <div class="progress progress-dark-plum">
        <div class="bar" style="width: 12%"></div>
      </div>
    </div>
  </li>

  <li>
    <div class="icon">
      <div class="big-label text-blue text-inverse">
        <i class="icon-comment"></i>
      </div>
    </div>
    <div class="value">18</div>
    <div class="stat-name">Comments</div>

    <div class="percent">(+78%)</div>
    <div class="progress-bar audience-progress">
      <div class="progress progress-text-blue">
        <div class="bar" style="width: 78%"></div>
      </div>
    </div>
  </li>
</ul>