<div class="row-fluid">
  <div class="span12">

    <hr class="main">
    <ul class="breadcrumbs">
      <li>
        <a class="crumb" href="#">Some</a>
        <span class="divider">/</span>
      </li>
      <li>
        <a class="crumb" href="#">Pretty</a>
        <span class="divider">/</span>
      </li>
      <li>
        <a class="crumb" href="#">Cool</a>
        <span class="divider">/</span>
      </li>
      <li>
        <a class="crumb active" href="#">Crumbs</a>
      </li>
    </ul>
    <hr class="main">
  </div>
</div>
