<% cumbs = request.fullpath.to_s.split('/') %>
  <div class="row-fluid">
    <div class="span12">
      <hr class="main">
        <ul class="breadcrumbs">
          <% if cumbs.count == 0 %>
            <li>
              <a class="crumb active" href="/">Home</a>
            </li>
            </ul>
          <% else %>
            <li>
              <a class="crumb" href="/">Home</a>
              <span class="divider">/</span>
            </li>
            <% cumbs.each do |link| %> 
              <% if link.size > 0 and link != cumbs.last %>
                <li>
                  <a class="crumb" href="/<%= link %>"><%= link.capitalize %> 
                  </a>
                  <span class="divider">/</span>
                </li>
              <% elsif link == cumbs.last %>
                <li>
                  <a class="crumb active" href="<%= link %>"><%= link.capitalize %></a>
                </li>
              <% end %>
            <% end %>
          </ul>
        <hr class="main">
    </div>
  </div>
<% end %>