<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

      <div class="box footer">
        <div class="copyright text-transparent center">
          <div><%= Time.now.year.to_s %> &copy; PCS - POLI - USP</div>
        </div>
      </div>
    </div>
  </div>
</div>
