<div class="top-bar">
  <a id="topbar-brand" class="brand" href="../dashboard.html">
     Portal de Estágios do PCS
  </a>

  <ul class="top-notifications">


    <li>
      <a href="#messages" class="accordion-toggle" data-toggle="collapse" data-parent="#top-acc" >
        Avisos  <span class="badge dark-plum"><%= !@avisos.nil? ? @avisos.count.to_s : "0"%></span>
      </a>
      <% if !@avisos.nil? %>
        <div class="collapsed" style="height: 0; overflow: visible;">
          <ul id="messages" class="collapse top-bar-list">

            <%= @avisos.each do |aviso| %>
            <li><a href="/modulos/<%= aviso.modulo.id %>"><%= aviso.descricao %></a></li>
            <% end %>
          </ul>
        </div>
     <% end %> 
    </li>
  </ul>
</div>