@import "compass";

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  outline: none;
  @include box-sizing(border-box);
}

body {
  font: normal 12px 'Open Sans', HelveticaNeue, Helvetica, Arial;
}

a { cursor: pointer; }
a:hover { text-decoration: none; }

.padded { padding: 15px 30px; }
.padded5 { padding: 5px; }
.padded10 { padding: 10px; }
.padded20 { padding: 20px; }

.hpadded { padding: 0px 8px; }
.hpadded20 { padding: 0px 20px; }
.vpadded { padding: 8px 0px; }
.vpadded20 { padding: 20px 0px; }

.center { text-align: center; }
