@import "compass";
@import "mixin-helpers";

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-image: image-url("patterns/whitey_light.png");
  -webkit-font-smoothing: antialiased;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section#main {
  overflow: hidden;
  margin-left: 140px;
  padding-top: 50px;
}