<ul class="recent-comments">
  <li class="comment-box">
    <div class="avatar user2 pull-left"></div>

    <div class="article">
      <div class="post-info"> Mike, 24 minutes ago </div>
      <div class="post-content-preview">
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...
      </div>

      <div class="article-actions">
        <button class="btn btn-mini light-blue inverse">Edit</button>
        <button class="btn btn-mini medium-blue">Approve</button>
        <button class="btn btn-mini dark-blue">Delete</button>
      </div>
    </div>
  </li>

  <li class="comment-box">
    <div class="avatar user5 pull-left"></div>

    <div class="article">
      <div class="post-info"> Maria, 2 days ago </div>
      <div class="post-content-preview">
        Contrary to popular belief, Lorem Ipsum is not simply random text...
      </div>

      <div class="article-actions">
        <button class="btn btn-mini light-blue inverse">Edit</button>
        <button class="btn btn-mini medium-blue">Approve</button>
        <button class="btn btn-mini dark-blue">Delete</button>
      </div>
    </div>
  </li>

  <li class="comment-box">
    <div class="avatar user7 pull-left"></div>

    <div class="article">
      <div class="post-info"> Jordan, 2 days ago </div>
      <div class="post-content-preview">
        Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum"...
      </div>

      <div class="article-actions">
        <button class="btn btn-mini light-blue inverse">Edit</button>
        <button class="btn btn-mini medium-blue">Approve</button>
        <button class="btn btn-mini dark-blue">Delete</button>
      </div>
    </div>
  </li>

  <li class="comment-box">
    <div class="avatar user3 pull-left" > </div>

    <div class="article">
      <div class="post-info"> Helen, 3 days ago </div>
      <div class="post-content-preview">
        The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested...
      </div>

      <div class="article-actions">
        <button class="btn btn-mini light-blue inverse">Edit</button>
        <button class="btn btn-mini medium-blue">Approve</button>
        <button class="btn btn-mini dark-blue">Delete</button>
      </div>
    </div>
  </li>

  <li class="comment-box view-more" style="text-align: center">
    <a href="#">View more</a>
  </li>
</ul>