<ul class="recent-activity">

  <li class="event-box">
    <div class="user-avatar user2 pull-left"></div>
    <div class="event">
      <div class="action">
        <a class="username" href="#">John Doe</a> has invited you to join <span class="label medium-blue">Ruby Group</span>.
      </div>
      <div class="time"><i class="icon-time"></i>24 minutes ago </div>
    </div>
  </li>

  <li class="event-box">
    <div class="user-avatar user3 pull-left"></div>
    <div class="event">
      <div class="action">
        <a class="username" href="#">Mary Ann Doe</a> has liked your post <span class="label dark-plum">CSS3 stylish shadows</span>.
      </div>
      <div class="time"><i class="icon-time"></i>15 hours ago </div>
    </div>
  </li>

  <li class="event-box">
    <div class="user-avatar user7 pull-left"></div>
    <div class="event">
      <div class="action">
        <a class="username" href="#">Jeremy Dust</a> has invited you to the event <span class="label dark-blue">First workshop</span>.
      </div>
      <div class="time"><i class="icon-time"></i>20 hours ago </div>
    </div>
  </li>

  <li class="event-box">
    <div class="user-avatar user1 pull-left"></div>
    <div class="event">
      <div class="action">
        <a class="username" href="#">John Doe</a> commented on your post <span class="label medium-blue">Working out</span>.
      </div>
      <div class="time"><i class="icon-time"></i>21 hours ago </div>
    </div>
  </li>

  <li class="event-box">
    <div class="user-avatar user4 pull-left"></div>
    <div class="event">
      <div class="action">
        <a class="username" href="#">Lorena Mayer</a> created a new post: <span class="label medium-blue">On Compass and SCSS</span>.
      </div>
      <div class="time"><i class="icon-time"></i>1 day ago </div>
    </div>
  </li>

  <li class="event-box">
    <div class="user-avatar user5 pull-left"></div>
    <div class="event">
      <div class="action">
        <a class="username" href="#">Mary Jones</a> accepted your friend request.
      </div>
      <div class="time"><i class="icon-time"></i>3 days ago </div>
    </div>
  </li>

  <li class="event-box">
    <div class="user-avatar user7 pull-left"></div>
    <div class="event">
      <div class="action">
        <a class="username" href="#">Jeremy Dust</a> accepted your friend request.
      </div>
      <div class="time"><i class="icon-time"></i>3 days ago </div>
    </div>
  </li>

  <li class="event-box view-more" style="text-align: center">
    <a href="#">View more</a>
  </li>
</ul>