<div class="row-fluid padded10">

  <div class="span2 center">
    <div class="stat-box medium-blue">
      <i class="icon-group icon-large"></i>
      <span class="count">134</span>
      <span class="stat-text">Users</span>
    </div>
  </div>

  <div class="span2 center">
    <div class="stat-box dark-blue">
      <i class="icon-bell icon-large"></i>
      <span class="count">23</span>
      <span class="stat-text">Events</span>
    </div>
  </div>

  <div class="span2 center">
    <div class="stat-box border-blue">
      <i class="icon-umbrella icon-large"></i>
      <span class="count">220</span>
      <span class="stat-text">Requests</span>
    </div>
  </div>

  <div class="span2 center">
    <div class="stat-box text-blue">
      <i class="icon-hand-right icon-large"></i>
      <span class="count">204</span>
      <span class="stat-text">Orders</span>
    </div>
  </div>

  <div class="span2 center">
    <div class="stat-box dark-blue">
      <i class="icon-envelope icon-large"></i>
      <span class="count">32</span>
      <span class="stat-text">Messages</span>
    </div>
  </div>

  <div class="span2 center">
    <div class="stat-box medium-blue">
      <i class="icon-comments-alt icon-large"></i>
      <span class="count">65</span>
      <span class="stat-text">Comments</span>
    </div>
  </div>

</div>