<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
    <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
    <li><a href="#tab3" data-toggle="tab">Section 3</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <div class="row-fluid">
        <div class="span12 padded">
          <p>I'm Section 1.</p>
          <p>
            Morbi enim quam, accumsan in varius eu, tristique eu eros.
          </p>
          <div class="padded">
            <div class="chart" id="oil-price-chart" style="height: 200px;"></div>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi enim quam, accumsan in varius eu,
            tristique eu eros. Praesent arcu leo, pulvinar at auctor et, blandit vitae orci. Aliquam fringilla
            porta diam nec imperdiet. Cras in nibh mauris, et lobortis diam. Sed ultrices hendrerit augue sed egestas.
          </p>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="tab2">
      <div class="row-fluid">
        <div class="span12 padded">
          <p>I'm Section 2.</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi enim quam, accumsan in varius eu,
            tristique eu eros. Praesent arcu leo, pulvinar at auctor et, blandit vitae orci. Aliquam fringilla
            porta diam nec imperdiet. Cras in nibh mauris, et lobortis diam. Sed ultrices hendrerit augue sed egestas.
          </p>

          <p>
            Morbi enim quam, accumsan in varius eu, tristique eu eros.
          </p>

          <div class="input full-width">
            <input type="text" placeholder="First name">
          </div>
          <div class="input full-width">
            <input type="text" placeholder="Last name">
          </div>
          <div class="input full-width">
            <input type="text" placeholder="Email address">
          </div>

          <div class="input full-width">
            <textarea rows="5" placeholder="Your story..."></textarea>
          </div>

          <div class="pull-right vpadded">
            <button type="submit" class="btn btn-small medium-blue">Submit</button>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="tab3">
      <div class="row-fluid">
        <div class="span12 padded">
          <p>Howdy! I'm Section 3.</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi enim quam, accumsan in varius eu,
            tristique eu eros. Praesent arcu leo, pulvinar at auctor et, blandit vitae orci. Aliquam fringilla
            porta diam nec imperdiet. Cras in nibh mauris, et lobortis diam. Sed ultrices hendrerit augue sed egestas.
          </p>
          <p>
            Morbi enim quam, accumsan in varius eu, tristique eu eros.
          </p>

          <div class="well">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi enim quam, accumsan in varius eu,
            tristique eu eros. Praesent arcu leo, pulvinar at auctor et, blandit vitae orci. Aliquam fringilla
            porta diam nec imperdiet. Cras in nibh mauris, et lobortis diam. Sed ultrices hendrerit augue sed egestas.
          </div>

          <div class="pull-right vpadded">
            <button type="submit" class="btn btn-small medium-blue">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
