<ul class="task-list">

  <li class="task-box">
    <div class="check">
      <i class="icon-check-empty"></i>
    </div>
    <div class="task">Some important task</div>
    <div class="priority">
      <span class="label red">important</span>
    </div>
  </li>

  <li class="task-box">
    <div class="check">
      <i class="icon-check-empty"></i>
    </div>
    <div class="task">Some normal priority task</div>
    <div class="priority">
      <span class="label medium-blue">normal</span>
    </div>
  </li>

  <li class="task-box completed">
    <div class="check">
      <i class="icon-check"></i>
    </div>
    <div class="task">Some completed task</div>
    <div class="priority">
      <span class="label inverse">completed</span>
    </div>
  </li>

  <li class="task-box">
    <div class="check">
      <i class="icon-check-empty"></i>
    </div>
    <div class="task">Some high priority task</div>
    <div class="priority">
      <span class="label orange">high</span>
    </div>
  </li>

  <li class="task-box">
    <div class="check">
      <i class="icon-check-empty"></i>
    </div>
    <div class="task">Some normal priority task</div>
    <div class="priority">
      <span class="label medium-blue">normal</span>
    </div>
  </li>

  <li class="task-box">
    <div class="check">
      <i class="icon-check"></i>
    </div>
    <div class="task">Some low priority task</div>
    <div class="priority">
      <span class="label green">low</span>
    </div>
  </li>

  <li class="task-box completed">
    <div class="check">
      <i class="icon-check"></i>
    </div>
    <div class="task">Some completed task</div>
    <div class="priority">
      <span class="label inverse">completed</span>
    </div>
  </li>

  <li class="task-box">
    <div class="check">
      <i class="icon-check-empty"></i>
    </div>
    <div class="task">Some high priority task</div>
    <div class="priority">
      <span class="label orange">high</span>
    </div>
  </li>

  <li class="task-box">
    <div class="check">
      <i class="icon-check-empty"></i>
    </div>
    <div class="task">Some normal priority task</div>
    <div class="priority">
      <span class="label medium-blue">normal</span>
    </div>
  </li>

  <li class="task-box">
    <div class="check">
      <i class="icon-check-empty"></i>
    </div>
    <div class="task">Some low priority task</div>
    <div class="priority">
      <span class="label green">low</span>
    </div>
  </li>

  <li class="view-all" style="text-align: center">
    <a href="#">View all</a>
  </li>
</ul>