<div class="box bordered">
  <div class="box-header" >
    <i class="icon-calendar"></i> <span id="calendar-title">Calendar</span>
  </div>

  <div class="row-fluid">
    <div class="span8">
      <div id='calendar' class="calendar"></div>
    </div>
    <div class="span4 padded" id="draggable-events" >
      <h5>Draggable events</h5>
      <div>
        <div class="event medium-gray ui-draggable" style="position: relative; z-index: auto; left: 0px; top: 0px; ">Special event</div>
        <div class="event light-blue ui-draggable" style="position: relative; ">Completed event</div>
        <div class="event medium-blue ui-draggable" style="position: relative; ">Normal event</div>
        <div class="event dark-blue ui-draggable" style="position: relative; ">Important event</div>
        <div class="event dark-plum ui-draggable" style="position: relative; ">Info event</div>
        <div class="event dark-gray ui-draggable" style="position: relative; ">Other</div>
        <p>
          <label for="drop-remove"><div class="checker" id="uniform-drop-remove"><span><input type="checkbox" id="drop-remove" style="opacity: 0; "></span></div> Remove event after drop</label>
        </p>
      </div>
    </div>
  </div>
</div>