<div class="vpadded">
  <div class="input-prepend">
    <span class="add-on">@</span>
    <input id="prependedInput" type="text" placeholder="Username">
  </div>

  <div class="input-append">
    <input id="appendedInput" type="text">
    <span class="add-on">.00</span>
  </div>

  <div class="input-prepend input-append">
    <span class="add-on">$</span>
    <input id="appendedPrependedInput" type="text">
    <span class="add-on">.00</span>
  </div>
</div>
