<div class="vpadded">
  <label class="checkbox">
    <input type="checkbox" value="" checked>
    Option one
  </label>
  <label class="checkbox">
    <input type="checkbox" value="">
    Option two
  </label>
  <label class="checkbox">
    <input type="checkbox" value="">
    Option three
  </label>
</div>

<div class="vpadded">
  <label class="checkbox inline">
    <input type="checkbox" value="option1"> Some
  </label>
  <label class="checkbox inline">
    <input type="checkbox" value="option2"> Inline
  </label>
  <label class="checkbox inline">
    <input type="checkbox" value="option3"> Checkboxes
  </label>
</div>

<div class="vpadded">
  <div>
    <div class="btn-group" data-toggle="buttons-checkbox">
      <button type="button" class="btn btn-small light-blue inverse">Check</button>
      <button type="button" class="btn btn-small light-blue inverse">This</button>
      <button type="button" class="btn btn-small light-blue inverse">Out</button>
    </div>
  </div>

  <div>
    <div class="btn-group" data-toggle="buttons-checkbox">
      <button type="button" class="btn btn-small medium-blue">Option 1</button>
      <button type="button" class="btn btn-small medium-blue">Option 2</button>
      <button type="button" class="btn btn-small medium-blue">Option 3</button>
    </div>
  </div>
</div>