<div class="vpadded">
  <div class="input full-width">
    <input type="text" placeholder="Username">
  </div>
  <div class="input full-width">
    <input type="text" placeholder="Email address">
  </div>
  <div class="input full-width">
    <input type="text" placeholder="First name">
  </div>
  <div class="input full-width">
    <input type="text" placeholder="Last name">
  </div>

  <div class="note">
    <i class="icon-exclamation-sign"></i>You can write max 2500 characters.
  </div>
  <div class="input full-width">
    <textarea rows="5" placeholder="Your story..."></textarea>
  </div>
</div>
