<div class="vpadded">
  <label class="radio">
    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
    Option one
  </label>
  <label class="radio">
    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
    Option two
  </label>
  <label class="radio">
    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option2">
    Option three
  </label>
</div>

<div class="vpadded">
  <label class="radio inline">
    <input type="radio" name="optionsRadios" id="opt1" value="option1" checked>
    Some
  </label>
  <label class="radio inline">
    <input type="radio" name="optionsRadios" id="opt2" value="option2">
    Inline
  </label>
  <label class="radio inline">
    <input type="radio" name="optionsRadios" id="opt3" value="option2">
    Radios
  </label>
</div>

<div class="vpadded">
  <div>
    <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" class="btn btn-small dark-blue">Check</button>
      <button type="button" class="btn btn-small dark-blue">This</button>
      <button type="button" class="btn btn-small dark-blue">Out</button>
    </div>
  </div>

  <div>
    <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" class="btn btn-small medium-blue">Option 1</button>
      <button type="button" class="btn btn-small medium-blue">Option 2</button>
      <button type="button" class="btn btn-small medium-blue">Option 3</button>
    </div>
  </div>
</div>