<div class="vpadded">
  <div class="input-append">
    <input id="appendedInputButton" size="16" type="text">
    <button class="btn light-blue inverse" type="button">Go!</button>
  </div>
  <div class="input-append">
    <input id="appendedInputButtons" size="16" type="text">
    <button class="btn light-blue inverse" type="button">Search</button>
  </div>

  <form class="form-search">
    <div class="input-append">
      <input type="text" class="search-query">
      <button type="submit" class="btn medium-blue">Search</button>
    </div>
    <div class="input-prepend">
      <button type="submit" class="btn medium-blue">Search</button>
      <input type="text" class="search-query">
    </div>
  </form>
</div>