<div class="vpadded">
  <div class="full-width">
    <select class="chzn-select" data-placeholder="Choose a city...">
      <option value></option>
      <option>Amsterdam</option>
      <option>Bucharest</option>
      <option>Cairo</option>
      <option>London</option>
      <option>Paris</option>
    </select>

    <select data-placeholder="Choose a country..." multiple class="chzn-select">
      <option>Australia</option>
      <option>Alaska</option>
      <option>Belize</option>
      <option>Greece</option>
      <option>Madagascar</option>
    </select>
  </div>
</div>