<div class="vpadded">
  <div class="input full-width">
    <div class="uploader">
      <span class="filename">No file selected</span>
      <span class="action">+</span>
      <input type="file">
    </div>
  </div>

  <div class="input full-width">
    <div class="uploader">
      <span class="filename">Upload a file</span>
      <span class="action">
        <i class="icon-circle-arrow-up"></i>
      </span>
      <input type="file">
    </div>
  </div>

  <div class="note">
    <i class="icon-exclamation-sign"></i>Please select a file to upload.
  </div>
  <div class="input full-width">
    <div class="uploader">
      <span class="filename">No file selected</span>
      <span class="action">
        <i class="icon-double-angle-up"></i>
      </span>
      <input type="file">
    </div>
  </div>
</div>


