<div class="vpadded">
  <div class="warning full-width">
    <div class="input">
      <input type="text" id="inputWarning" class="warning">
    <span class="input-warning" data-original-title="">
      Warning <i class="icon-warning-sign"></i>
    </span>
    </div>
  </div>

  <div class="error full-width">
    <div class="input">
      <input type="text" id="inputError" class="error">
    <span class="input-error" data-original-title="">
     Error <i class="icon-exclamation-sign"></i>
    </span>
    </div>
  </div>

  <div class="success full-width">
    <div class="input">
      <input type="text" id="inputSuccess" class="success">
    <span class="input-success" data-original-title="">
      Success <i class="icon-ok-sign"></i>
    </span>
    </div>
  </div>
</div>