<table class="table table-striped data-table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>CPF</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <% @coordenador_estagios.each do |coordenador_estagio| %>
            <tr class="gradeX">
                <td><%= coordenador_estagio.nome %></td>
                <td><%= coordenador_estagio.email %></td>
                <td><%= coordenador_estagio.cpf %></td>
                <td class="td-actions">
                    <a class="btn btn-mini dark-blue">
                        <i class=" icon-ok"></i>
                    </a>
                    <a class="btn btn-mini light-blue inverse">
                        <i class=" icon-remove"></i>
                    </a>
<%#= link_to 'Show', empresa %>
<%#= link_to 'Edit', edit_empresa_path(empresa) %>
<%#= link_to 'Destroy', empresa, method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
