<div class="accordion" id="accordion2" xmlns="http://www.w3.org/1999/html">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Accordion number One
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non arcu nec tellus tristique egestas sed sed elit. Integer facilisis elit dictum elit ornare adipiscing.
        Sed cursus laoreet urna. Cras rutrum porta leo, ut semper nisl venenatis sit amet. In hac habitasse platea dictumst.
        </p>
        <p>
            In odio neque, sagittis non condimentum eu, posuere et turpis. Vivamus quis lectus urna.
          Sed commodo ligula laoreet purus rutrum porttitor adipiscing diam pretium. Nulla nec neque sed ipsum ultrices faucibus. Integer lobortis varius arcu eu laoreet.
        </p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Accordion number Two
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non arcu nec tellus tristique egestas sed sed elit. Integer facilisis elit dictum elit ornare adipiscing.
          Sed cursus laoreet urna. Cras rutrum porta leo, ut semper nisl venenatis sit amet. In hac habitasse platea dictumst.
        </p>
        <p>
          In odio neque, sagittis non condimentum eu, posuere et turpis. Vivamus quis lectus urna.
          Sed commodo ligula laoreet purus rutrum porttitor adipiscing diam pretium. Nulla nec neque sed ipsum ultrices faucibus. Integer lobortis varius arcu eu laoreet.
        </p>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Accordion number Three
      </a>
    </div>
    <div id="collapseThree" class="accordion-body in collapse" style="height: auto;">
      <div class="accordion-inner">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non arcu nec tellus tristique egestas sed sed elit. Integer facilisis elit dictum elit ornare adipiscing.
          Sed cursus laoreet urna. Cras rutrum porta leo, ut semper nisl venenatis sit amet. In hac habitasse platea dictumst.
        </p>
        <p>
          In odio neque, sagittis non condimentum eu, posuere et turpis. Vivamus quis lectus urna.
          Sed commodo ligula laoreet purus rutrum porttitor adipiscing diam pretium. Nulla nec neque sed ipsum ultrices faucibus. Integer lobortis varius arcu eu laoreet.
        </p>
      </div>
    </div>
  </div>
</div>