<div class="alert medium-blue alert-block fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Oh snap! You got an error!</h4>
  <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
  <p>
    <a class="btn btn-mini btn-inverse" href="#">Take this action</a>
    <a class="btn btn-mini" href="#">Or do this</a>
  </p>
</div>

<div class="alert dark-blue alert-block fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Oh snap! You got an error!</h4>
  <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
  <p>
    <a class="btn btn-mini btn-inverse" href="#">Take this action</a>
    <a class="btn btn-mini" href="#">Or do this</a>
  </p>
</div>

<div class="alert dark-plum alert-block fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Oh snap! You got an error!</h4>
  <p>Change this and that and try again. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
  <p>
    <a class="btn btn-mini btn-inverse" href="#">Take this action</a>
    <a class="btn btn-mini" href="#">Or do this</a>
  </p>
</div>