<div class="alert yellow fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert orange fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert red fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert blue fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert turquoise fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert green fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert light-blue fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert medium-blue fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>

<div class="alert dark-blue fade in">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Holy guacamole!</strong> Best check yo self, you're not looking too good.
</div>