<div class="big-label light-blue">
  <i class="icon-cloud-upload"></i>
</div>
<div class="big-label medium-blue text-inverse">
  <i class="icon-lightbulb"></i>
</div>
<div class="big-label text-blue text-inverse">
  <i class="icon-fire"></i>
</div>
<div class="big-label dark-blue text-inverse">
  <i class="icon-food"></i>
</div>
<div class="big-label dark-plum text-inverse">
  <i class="icon-beer"></i>
</div>
<div class="big-label inverse text-inverse">
  <i class="icon-coffee"></i>
</div>

<div class="big-label yellow">
  <i class="icon-eye-open"></i>
</div>
<div class="big-label orange">
  <i class="icon-bolt"></i>
</div>
<div class="big-label red">
  <i class="icon-star"></i>
</div>
<div class="big-label plum">
  <i class="icon-fire"></i>
</div>
<div class="big-label blue">
  <i class="icon-bell"></i>
</div>
<div class="big-label turquoise">
  <i class="icon-cloud-download"></i>
</div>
<div class="big-label green">
  <i class="icon-ok"></i>
</div>


