<div class="center">
  <div class="percent-stat">
    <span class="percent"> %</span>
    <input type="text" value="61" data-min="0" data-max="100" class="circle-stat light-blue">
    <span class="indicator">Phisical memory</span>
  </div>
  <div class="percent-stat">
    <span class="percent"> %</span>
    <input type="text" value="38" data-min="0" data-max="100" class="circle-stat medium-blue">
    <span class="indicator">Kernel memory</span>
  </div>
  <div class="percent-stat">
    <span class="percent"> %</span>
    <input type="text" value="44" data-min="0" data-max="100" class="circle-stat dark-blue">
    <span class="indicator">CPU Usage</span>
  </div>
  <div class="percent-stat">
    <span class="percent"> %</span>
    <input type="text" value="65" data-min="0" data-max="100" class="circle-stat dark-blue">
    <span class="indicator">Bandwidth</span>
  </div>
  <div class="percent-stat">
    <span class="percent"> %</span>
    <input type="text" value="54" data-min="0" data-max="100" class="circle-stat medium-blue">
    <span class="indicator">Disk space usage</span>
  </div>
  <div class="percent-stat">
    <span class="percent"> %</span>
    <input type="text" value="83" data-min="0" data-max="100" class="circle-stat light-blue">
    <span class="indicator">Network</span>
  </div>
</div>