<div class="input-append date datepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
  <input type="text" value="12-02-2012">
  <button class="btn light-blue inverse date-button" type="button"><i class="icon-th"></i></button>
</div>

<h6>Viewmode: months</h6>
<div class="input-append date datepicker" data-date="102/2012" data-date-format="mm/yyyy" data-date-viewmode="years" data-date-minviewmode="months">
  <input type="text" value="02/2012" readonly="">
  <button class="btn light-blue inverse date-button" type="button"><i class="icon-calendar"></i></button>
</div>

<h6>Viewmode: years</h6>
<div class="input-append date datepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
  <input type="text" value="12-02-2012" readonly="">
  <button class="btn light-blue inverse date-button" type="button"><i class="icon-calendar"></i></button>
</div>