<div class="center">
  <div class="gauge" id="visits-gauge"></div>
  <div class="gauge" id="visitors-gauge" ></div>
  <div class="gauge" id="unique-gauge" ></div>
  <div class="gauge" id="views-gauge"></div>
  <div class="gauge" id="likes-gauge"></div>
  <div class="gauge" id="requests-gauge"></div>
</div>
