<section id="labels-badges">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Labels</th>
      <th>Badges</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <span class="label">Default</span>
      </td>
      <td>
        <span class="badge">1</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label light-blue">Light</span>
      </td>
      <td>
        <span class="badge light-blue">2</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label medium-blue">Medium</span>
      </td>
      <td>
        <span class="badge medium-blue">3</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label dark-blue">Dark</span>
      </td>
      <td>
        <span class="badge dark-blue">4</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label text-blue">Darker</span>
      </td>
      <td>
        <span class="badge text-blue">5</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label dark-plum">Plum</span>
      </td>
      <td>
        <span class="badge dark-plum">6</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label label-inverse">Inverse</span>
      </td>
      <td>
        <span class="badge badge-inverse">7</span>
      </td>
    </tr>
    </tbody>
  </table>
</section>
