<section id="labels-badges">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Labels</th>
      <th>Badges</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <span class="label yellow">Yellow</span>
      </td>
      <td>
        <span class="badge yellow">1</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label orange">Orange</span>
      </td>
      <td>
        <span class="badge orange">2</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label red">Red</span>
      </td>
      <td>
        <span class="badge red">3</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label plum">Lilac</span>
      </td>
      <td>
        <span class="badge plum">4</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label blue">Blue</span>
      </td>
      <td>
        <span class="badge blue">5</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label turquoise">Turquoise</span>
      </td>
      <td>
        <span class="badge turquoise">6</span>
      </td>
    </tr>
    <tr>
      <td>
        <span class="label green">Green</span>
      </td>
      <td>
        <span class="badge green">7</span>
      </td>
    </tr>
    </tbody>
  </table>
</section>
