<a href="#responsive-modal" class="btn btn-large medium-blue" data-toggle="modal">Launch demo modal</a>

<div id="responsive-modal" class="modal hide fade" tabindex="-1" data-width="760">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Responsive</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span6">
        <h4>Inputs</h4>
        <p><input type="text" class="span12"></p>
        <p><input type="text" class="span12"></p>
        <p><input type="text" class="span12"></p>
        <p><input type="text" class="span12"></p>
        <p><input type="text" class="span12"></p>
        <p><input type="text" class="span12"></p>
        <p><input type="text" class="span12"></p>
      </div>
      <div class="span6">
        <h4>Text</h4>
        <div class="well">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non mi odio.
            Integer eu dolor erat, quis vehicula magna.</p>
          <p>Maecenas varius auctor arcu, eget laoreet dui interdum in.
            Sed sollicitudin massa sed purus sollicitudin luctus.
            Curabitur luctus metus in tellus rhoncus id laoreet nunc dapibus.</p>
          <p>Cras augue lorem, varius et dapibus ut, vehicula quis erat. Phasellus vitae sollicitudin leo.
            Fusce et neque leo, mollis malesuada magna. Vivamus rhoncus suscipit lacus scelerisque aliquet.</p>
          <p>Nullam aliquam cursus erat id scelerisque. Ut ultrices, augue id consectetur faucibus.</p>
          <p>Cras augue lorem, varius et dapibus ut, vehicula quis erat. Phasellus vitae sollicitudin leo.
            Fusce et neque leo, mollis malesuada magna. Vivamus rhoncus suscipit lacus scelerisque aliquet.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-small">Close</button>
    <button type="button" class="btn btn-small medium-blue">Save changes</button>
  </div>
</div>