<a href="#" class="btn btn-small medium-blue regular-notification">Regular</a>
<a href="#" class="btn btn-small medium-blue  sticky-notification">Sticky</a>
<a href="#" class="btn btn-small medium-blue noimage-notification">No image</a>
<a href="#" class="btn btn-small medium-blue light-notification">Light</a>
<a href="#" class="btn btn-small medium-blue max-notification">Maximum 3</a>
<a href="#" class="btn btn-small medium-blue remove-all-notifications">Remove all</a>
