<button class="big-button" href="#">
  <i class="icon-cogs icon-large"></i>
  <span class="button-text">Users</span>
</button>

<button class="big-button active" href="#">
  <i class="icon-group icon-large"></i>
  <span class="button-text">Requests</span>
</button>

<button class="big-button" href="#">
  <i class="icon-envelope icon-large"></i>
  <span class="button-text">Messages</span>
</button>

<button class="big-button" href="#">
  <i class="icon-comments icon-large"></i>
  <span class="button-text">Comments</span>
</button>

<button class="big-button" href="#">
  <i class="icon-flag icon-large"></i>
  <span class="button-text">Events</span>
</button>

<button class="big-button" href="#">
  <i class="icon-bar-chart icon-large"></i>
  <span class="button-text">Orders</span>
</button>