<div class="row-fluid">
  <div class="span6">
    <div class="slider-light-blue slider-vertical slider-20"></div>
    <div class="slider-medium-blue slider-vertical slider-30"></div>
    <div class="slider-dark-blue slider-vertical slider-40"></div>
    <div class="slider-light-blue slider-vertical slider-50"></div>
    <div class="slider-medium-blue slider-vertical slider-60"></div>
    <div class="slider-dark-blue slider-vertical slider-80"></div>
  </div>

  <div class="span6">
    <div class="slider-green slider-vertical slider-40"></div>
    <div class="slider-yellow slider-vertical slider-60"></div>
    <div class="slider-orange slider-vertical slider-70"></div>
    <div class="slider-red slider-vertical slider-90"></div>
    <div class="slider-plum slider-vertical slider-80"></div>
    <div class="slider-turquoise slider-vertical slider-30"></div>
  </div>
</div>