<div class="slider-light-blue slider-min slider-20"></div>
<div class="slider-medium-blue slider-min slider-40"></div>
<div class="slider-dark-blue slider-min slider-60"></div>
<div class="slider-light-blue slider-max slider-20"></div>
<div class="slider-medium-blue slider-max slider-40"></div>
<div class="slider-dark-blue slider-max slider-60"></div>

<div class="slider-light-blue slider-range slider-20-40"></div>
<div class="slider-medium-blue slider-range slider-20-60"></div>
<div class="slider-dark-blue slider-range slider-20-80"></div>

<div class="slider-yellow slider-min slider-40"></div>
<div class="slider-orange slider-min slider-60"></div>
<div class="slider-red slider-max slider-20"></div>
<div class="slider-plum slider-max slider-40"></div>
<div class="slider-blue slider-max slider-60"></div>
<div class="slider-turquoise slider-range slider-20-60"></div>
<div class="slider-green slider-range slider-20-80"></div>
