<div class="row-fluid">
  <div class="span6">
    <h6>Base colors</h6>

    <div class="light-blue-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="medium-blue-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="dark-blue-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="text-blue-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="dark-plum-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>


    <div class="inverse-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>
  </div>

  <div class="span6">
    <h6>Extra colors</h6>

    <div class="yellow-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="orange-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="red-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="plum-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="turquoise-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>

    <div class="green-tags tag-list">
      <div class="tag-data">tag5, tag6, tag7, tag8</div>
      <div class="tags"></div>
    </div>
  </div>
</div>
