@import "compass";

.footer {
  width: 260px;
  min-width: 220px;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, .1);
  @include box-shadow(rgba(255, 255, 255, 0.4) 0 2px 2px inset, rgba(255, 255, 255, 0.6) 0 1px 0);
  @include border-radius(4px);

  .copyright {
    color: rgba(0, 0, 0, .2);
    font-size: .9em;
  }
}