<table class="table table-striped">
  <thead>
  <tr>
    <th>Browser</th>
    <th></th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>Internet Explorer</td>
    <td>Microsoft Internet Explorer</td>
    <td class="td-actions">
      <a class="btn btn-mini dark-blue">
        <i class=" icon-ok"></i>
      </a>
      <a class="btn btn-mini light-blue inverse">
        <i class=" icon-remove"></i>
      </a>
    </td>
  </tr>
  <tr>
    <td>Firefox</td>
    <td>Mozilla Firefox (identified as Mozilla before 2005)</td>
    <td class="td-actions">
      <a class="btn btn-mini dark-blue">
        <i class=" icon-ok"></i>
      </a>
      <a class="btn btn-mini light-blue inverse">
        <i class=" icon-remove"></i>
      </a>
    </td>
  </tr>
  <tr>
    <td>Mozilla</td>
    <td>The Mozilla Suite (Gecko, Netscape)</td>
    <td class="td-actions">
      <a class="btn btn-mini dark-blue">
        <i class=" icon-ok"></i>
      </a>
      <a class="btn btn-mini light-blue inverse">
        <i class=" icon-remove"></i>
      </a>
    </td>
  </tr>
  <tr>
    <td>Safari</td>
    <td>Safari (and Konqueror. Both identified as Mozilla before 2007)</td>
    <td class="td-actions">
      <a class="btn btn-mini dark-blue">
        <i class=" icon-ok"></i>
      </a>

      <a class="btn btn-mini light-blue inverse">
        <i class=" icon-remove"></i>
      </a>
    </td>
  </tr>
  <tr>
    <td>Chrome</td>
    <td>Google Chrome</td>
    <td class="td-actions">
      <a class="btn btn-mini dark-blue">
        <i class=" icon-ok"></i>
      </a>

      <a class="btn btn-mini light-blue inverse">
        <i class=" icon-remove"></i>
      </a>
    </td>
  </tr>
  <tr>
    <td>Opera</td>
    <td>Opera (as of 2011, Opera Mini is included here)</td>
    <td class="td-actions">
      <a class="btn btn-mini dark-blue">
        <i class=" icon-ok"></i>
      </a>

      <a class="btn btn-mini light-blue inverse">
        <i class=" icon-remove"></i>
      </a>
    </td>
  </tr>
  </tbody>
</table>
