<table class="table table-striped">
  <thead>
  <tr>
    <th>No.</th>
    <th>Title</th>
    <th class="tc">Total</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>Book1.epub
      <span class="label dark-blue">pending</span>
    </td>
    <td class="tc">19$</td>

    <td class="tr">
      <a href="#" class="btn btn-mini light-blue inverse">
        <i class="icon-shopping-cart"></i> Buy
      </a>
    </td>
  </tr>
  <tr>
    <td>2</td>
    <td>Book2.epub
      <span class="label medium-blue">complete</span></td>
    <td class="tc">19$</td>

    <td class="tr">
      <a href="#" class="btn btn-mini light-blue inverse">
        <i class="icon-shopping-cart"></i> Buy
      </a>
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td>Book4.epub
      <span class="label">cancel</span>
    </td>
    <td class="tc">19$</td>

    <td class="tr">
      <a href="#" class="btn btn-mini light-blue inverse">
        <i class="icon-shopping-cart"></i> Buy
      </a>
    </td>
  </tr>
  <tr>
    <td>4</td>
    <td>Book3.epub
      <span class="label dark-blue">pending</span>
    </td>
    <td class="tc">19$</td>

    <td class="tr">
      <a href="#" class="btn btn-mini light-blue inverse">
        <i class="icon-shopping-cart"></i> Buy
      </a>
    </td>
  </tr>
  <tr>
    <td>5</td>
    <td>Book5.epub
      <span class="label dark-blue">pending</span>
    </td>
    <td class="tc">19$</td>

    <td class="tr">
      <a href="#" class="btn btn-mini light-blue inverse">
        <i class="icon-shopping-cart"></i> Buy
      </a>
    </td>
  </tr>
  <tr>
    <td>6</td>
    <td>
      Book6.epub
      <span class="label medium-blue">complete</span>
    </td>
    <td class="tc">19$</td>
    <td class="tr">
      <a href="#" class="btn btn-mini light-blue inverse">
        <i class="icon-shopping-cart"></i> Buy
      </a>
    </td>
  </tr>

  </tbody>
  <tfoot>
  <tr>
    <td colspan="6">
      <div class="pagination pull-right">
        <ul>
          <li><a href="#">«</a></li>
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li class="disabled"><a href="#">...</a></li>
          <li><a href="#">9</a></li>
          <li><a href="#">»</a></li>
        </ul>
      </div>
    </td>
  </tr>
  </tfoot>
</table>