<div class="error-container center">
  <div class="info-text text-transparent">
    Sorry! Something went wrong here!
  </div>

  <hr class="main">

  <div class="error-text text-transparent">
    404!
  </div>

  <hr class="main">

  <div class="info-text text-transparent">
    Error: Requested page not found.
  </div>

  <div class="actions">
    <a href="../dashboard.html" class="btn medium-blue">
      <i class="icon-ok-sign"></i> Back to Dashboard
    </a>
  </div>
</div>