<div class="gallery" id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
  <% for i in 1..60 do %>
    <a rel="gallery" href="../../images/gallery/large/<%= i %>.jpg" title="Image no. <%= i %>">
      <img class="thumb" src="../../images/gallery/small/<%= i %>.jpg">
    </a>
  <% end %>
</div>

