@import "compass";
@import "general/mixin-helpers";

/* Icons list */
.icons-list {
  color: #555;
  @include whiteTextShadow();
}

.open-icons-list {
  color: #555;
  @include whiteTextShadow();

  ul {
    i {
      font-size: 24px;
      margin-top: -2px;
    }
  }
}

/* Maps */
.map {
  width: 100%;
  height: 500px;
  padding: 15px;

  .jvectormap-zoomin, .jvectormap-zoomout {
    display: none;
  }
}