@import "compass";

@media (max-width: 768px) {
  body {
    overflow-y: auto;
    padding-left: 0px;
    padding-right: 0px;

    .container-fluid {
      width: 94%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .comment-container {
    height: 320px;
  }

  #draggable-events { display: none; }
  #calendar-title { display: none; }

/* error page */
  .error-container {
    width: 280px;
    margin-top: 20px;
    .info-text { padding: 5px 0px; font-size: 16px; }
    .error-text { font-size: 100px; }
    .actions { padding: 5px 0px; }
  }

  .padded { padding: 10px 20px; }
}