<%= form_for(@admin_empresa, :validate => true, html: { multipart: true })  do |f| %>
  
  <div class="input full-width">
    <p>Empresa: <%= @admin_empresa.empresa.nome %></p>
  </div>
<%= render partial: "partials/usuarios/form", locals: { f: f } %>
<% end %>   


