<div class="padded5">
  <a href="#" class="btn btn-mini">
    Button
  </a>
  <a href="#" class="btn btn-mini light-blue inverse">
    Button
  </a>
  <a href="#" class="btn btn-mini medium-blue">
    Button
  </a>
  <a href="#" class="btn btn-mini dark-blue">
    Button
  </a>

  <a href="#" class="btn btn-mini disabled">
    Button
  </a>
  <a href="#" class="btn btn-mini light-blue inverse disabled">
    Button
  </a>
  <a href="#" class="btn btn-mini medium-blue disabled">
    Button
  </a>
  <a href="#" class="btn btn-mini dark-blue disabled">
    Button
  </a>
</div>

<div class="padded5">
  <a href="#" class="btn btn-small">
    Button
  </a>
  <a href="#" class="btn btn-small light-blue inverse">
    Button
  </a>
  <a href="#" class="btn btn-small medium-blue">
    Button
  </a>
  <a href="#" class="btn btn-small dark-blue">
    Button
  </a>

  <a href="#" class="btn btn-small disabled">
    Button
  </a>
  <a href="#" class="btn btn-small light-blue inverse disabled">
    Button
  </a>
  <a href="#" class="btn btn-small medium-blue disabled">
    Button
  </a>
  <a href="#" class="btn btn-small dark-blue disabled">
    Button
  </a>
</div>

<div class="padded5">
  <a href="#" class="btn">
    Button
  </a>
  <a href="#" class="btn light-blue inverse">
    Button
  </a>
  <a href="#" class="btn medium-blue">
    Button
  </a>
  <a href="#" class="btn dark-blue">
    Button
  </a>
  <a href="#" class="btn disabled">
    Button
  </a>
  <a href="#" class="btn light-blue inverse disabled">
    Button
  </a>
  <a href="#" class="btn medium-blue disabled">
    Button
  </a>
  <a href="#" class="btn dark-blue disabled">
    Button
  </a>
</div>