<div class="padded5">
  <div class="btn-group">
    <button class="btn light-blue inverse dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn medium-blue dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <button class="btn dark-blue dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>
</div>

<div class="padded5">
  <div class="btn-group">
    <a class="btn light-blue inverse" href="#"><i class="icon-comments-alt"></i> Dropdown</a>
    <a class="btn light-blue inverse dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
      <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
      <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a href="#"><i class="i"></i> Make admin</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <a class="btn medium-blue" href="#"><i class="icon-gift"></i> Dropdown</a>
    <a class="btn medium-blue dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="icon-eye-open"></i> View</a></li>
      <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
      <li><a href="#"><i class="icon-pencil"></i> Change</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <a class="btn dark-blue" href="#"><i class="icon-leaf"></i> Dropdown</a>
    <a class="btn dark-blue dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
      <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
      <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a href="#"><i class="i"></i> Make admin</a></li>
    </ul>
  </div>
</div>