<div class="padded5">
  <div class="btn-group">
    <a class="btn green" href="#"><i class="icon-leaf"></i> Dropdown</a>
    <a class="btn green dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
      <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
      <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a href="#"><i class="i"></i> Make admin</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <a class="btn red" href="#"><i class="icon-leaf"></i> Dropdown</a>
    <a class="btn red dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
      <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
      <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a href="#"><i class="i"></i> Make admin</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <a class="btn blue" href="#"><i class="icon-leaf"></i> Dropdown</a>
    <a class="btn blue dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
      <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
      <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a href="#"><i class="i"></i> Make admin</a></li>
    </ul>
  </div>
</div>

<div class="padded5">
  <div class="btn-group">
    <a class="btn btn-small turquoise" href="#"><i class="icon-leaf"></i> Dropdown</a>
    <a class="btn btn-small turquoise dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
      <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
      <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a href="#"><i class="i"></i> Make admin</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <a class="btn btn-small plum" href="#"><i class="icon-leaf"></i> Dropdown</a>
    <a class="btn btn-small plum dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
      <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
      <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a href="#"><i class="i"></i> Make admin</a></li>
    </ul>
  </div>

  <div class="btn-group">
    <a class="btn btn-small orange" href="#"><i class="icon-leaf"></i> Dropdown</a>
    <a class="btn btn-small orange dropdown-toggle" data-toggle="dropdown" href="#"><span class="icon-caret-down"></span></a>
    <ul class="dropdown-menu">
      <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
      <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
      <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
      <li class="divider"></li>
      <li><a href="#"><i class="i"></i> Make admin</a></li>
    </ul>
  </div>
</div>