<div class="padded5">
  <div class="btn-group">
    <button class="btn btn-mini orange">
      <i class="icon-fast-backward"></i>
    </button>
    <button class="btn btn-mini orange">
      <i class="icon-step-backward"></i>
    </button>
    <button class="btn btn-mini orange">
      <i class="icon-backward"></i>
    </button>
    <button class="btn btn-mini orange">
      <i class="icon-pause"></i>
    </button>
    <button class="btn btn-mini orange">
      <i class="icon-play"></i>
    </button>
    <button class="btn btn-mini orange">
      <i class="icon-stop"></i>
    </button>
    <button class="btn btn-mini orange">
      <i class="icon-forward"></i>
    </button>
    <button class="btn btn-mini orange">
      <i class="icon-step-forward"></i>
    </button>
    <button class="btn btn-mini orange">
      <i class="icon-fast-forward"></i>
    </button>
  </div>
</div>

<div class="padded5">
  <div class="btn-group">
    <button class="btn yellow">1</button>
    <button class="btn orange">2</button>
    <button class="btn red">3</button>
    <button class="btn plum">4</button>
    <button class="btn blue">5</button>
    <button class="btn turquoise">6</button>
    <button class="btn green">7</button>
  </div>
</div>

<div class="padded5">
  <div class="btn-group">
    <button class="btn btn-small red">1</button>
    <button class="btn btn-small red">2</button>
    <button class="btn btn-small red">3</button>
    <button class="btn btn-small red">4</button>
    <button class="btn btn-small red">5</button>
    <button class="btn btn-small red">6</button>
    <button class="btn btn-small red">7</button>
  </div>
</div>

<div class="padded5">
  <div class="btn-group">
    <button class="btn btn-mini yellow inverse">A</button>
    <button class="btn btn-mini yellow inverse">B</button>
    <button class="btn btn-mini yellow inverse">C</button>
    <button class="btn btn-mini yellow inverse">D</button>
    <button class="btn btn-mini yellow inverse">E</button>
    <button class="btn btn-mini yellow inverse">F</button>
    <button class="btn btn-mini yellow inverse">G</button>
  </div>
</div>