<div class="padded5">
  <div class="btn-group">
    <button class="btn light-blue inverse">Light</button>
    <button class="btn medium-blue">Medium</button>
    <button class="btn dark-blue">Dark</button>
  </div>
</div>

<div class="padded5">
  <div class="btn-group">
    <button class="btn btn-small light-blue inverse">Left</button>
    <button class="btn btn-small light-blue inverse">Middle</button>
    <button class="btn btn-small light-blue inverse">Right</button>
  </div>
</div>

<div class="padded5">
  <div class="btn-group">
    <button class="btn btn-mini medium-blue">Left</button>
    <button class="btn btn-mini medium-blue">Middle</button>
    <button class="btn btn-mini medium-blue">Right</button>
  </div>
</div>

<div class="padded5">
  <div class="btn-group">
    <button class="btn btn-mini dark-blue">
      <i class="icon-step-backward"></i>
    </button>
    <button class="btn btn-mini dark-blue">
      <i class="icon-backward"></i>
    </button>
    <button class="btn btn-mini dark-blue">
      <i class="icon-pause"></i>
    </button>
    <button class="btn btn-mini dark-blue">
      <i class="icon-play"></i>
    </button>
    <button class="btn btn-mini dark-blue">
      <i class="icon-stop"></i>
    </button>
    <button class="btn btn-mini dark-blue">
      <i class="icon-forward"></i>
    </button>
    <button class="btn btn-mini dark-blue">
      <i class="icon-step-forward"></i>
    </button>
  </div>
</div>

