<div class="padded5">
  <button type="button" class="btn btn-small light-blue inverse" data-toggle="button">Single Toggle</button>
</div>

<div class="padded5">
  <div class="btn-group" data-toggle="buttons-checkbox">
    <button type="button" class="btn btn-small medium-blue">We</button>
    <button type="button" class="btn btn-small medium-blue">act</button>
    <button type="button" class="btn btn-small medium-blue">as</button>
    <button type="button" class="btn btn-small medium-blue">checkboxes</button>
  </div>
</div>

<div class="padded5">
  <div class="btn-group" data-toggle="buttons-radio">
    <button type="button" class="btn btn-small dark-blue">We</button>
    <button type="button" class="btn btn-small dark-blue">act</button>
    <button type="button" class="btn btn-small dark-blue">as</button>
    <button type="button" class="btn btn-small dark-blue">radios</button>
  </div>
</div>
